@import "./../../cssVariable/variable.scss";

.sell-article {
  min-height: calc(100vh - 7rem);
  padding: 2rem 0;
  background-color: $ligth-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    > button {
      color: white;
      height: 5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sell-article-title {
  font-family: "Bw Modelica Bold", sans-serif;
  font-size: 2.5rem;
}

.sell-article-picture {
  background-color: white;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.6);
  > div {
    position: relative;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    border: 1px dashed $blue-green;
    display: flex;
    img {
      padding: 0.5rem;
      height: 100%;
      max-width: 40%;
      object-fit: cover;
    }
    input {
      position: absolute;
      top: calc((100% - 5rem) / 2);
      left: calc((100% - 20rem) / 2);
      border: none;
      width: 20rem;
      height: 5rem;
      &::-webkit-file-upload-button {
        border: 1px solid $blue-green;
        border-radius: 5px;
        width: 20rem;
        height: 5rem;
        background-color: white;
        color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
    }
    > p {
      pointer-events: none;
      position: absolute;
      top: calc((100% - 3rem) / 2);
      left: calc((100% - 17rem) / 2);
      color: $blue-green;
      font-family: "Bw Modelica Medium", sans-serif;
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        font-size: 3rem;
      }
    }
    .sell-article-delete-picture {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 0.2rem;
      border-radius: 5px;
      background-color: white;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sell-article-article,
.sell-article-details,
.sell-article-paiement {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border: 1px solid rgba(128, 128, 128, 0.6);
  > div {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    &:not(:last-of-type) {
      border-bottom: 1px solid lightgray;
    }
    input,
    textarea {
      border: none;
      padding: 0.5rem 0;
      width: 30rem;
      font-size: 1.5rem;
      border-bottom: 1px solid $light-grey;
      font-family: "Bw Modelica Regular", sans-serif;
    }
    textarea {
      height: 80%;
      resize: none;
    }
  }
}

.sell-article-paiement {
  > div {
    input {
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
    }
  }
  > p {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    > input {
      transform: scale(2);
    }
  }
}

.sell-article-article {
  > div:last-of-type {
    height: 10rem;
  }
}

@media (width < 640px) {
  .sell-article-article,
  .sell-article-details,
  .sell-article-paiement {
    > div {
      flex-direction: column;
      height: 8rem;
      justify-content: center;
      gap: 1rem;
      // display: flex;
      // height: 5rem;
      // align-items: center;
      // justify-content: space-between;
      // &:not(:last-of-type) {
      //   border-bottom: 1px solid lightgray;
      // }
      input {
        text-align: center;
      }
      textarea {
        height: 9rem;
      }
    }
  }

  .sell-article-article {
    > div:last-of-type {
      height: 14rem;
    }
  }

  .sell-article-paiement {
    > p {
      justify-content: center;
    }
  }
}
