@import "../../../cssVariable/variable";

.home-article {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: $light-grey;
  font-size: 1.3rem;
  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    > img {
      height: 3rem;
      width: 3rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > img {
    width: 100%;
    aspect-ratio: 0.65;
    border: 1px solid $ligth-gray;
    object-fit: cover;
  }
  .article-price {
    color: black;
  }
}

.hide-five-per-row {
  display: none;
}

@media (width < 1200px) {
  .home-article {
    width: 24%;
  }
  .hide-five-per-row {
    display: flex;
  }
  .hide-four-per-row {
    display: none;
  }
}

@media (width < 900px) {
  .home-article {
    width: 32%;
  }
  .hide-four-per-row {
    display: flex;
  }
  .hide-three-per-row {
    display: none;
  }
}

@media (width < 700px) {
  .home-article {
    width: 48%;
  }
  .hide-three-per-row {
    display: flex;
  }
  .hide-two-per-row {
    display: none;
  }
}

@media (width < 500px) {
  .home-article {
    width: 60%;
  }
  .hide-two-per-row {
    display: flex;
  }
  .hide-one-per-row {
    display: none;
  }
}
