@import "./../../cssVariable/variable.scss";

.custom-asc-desc-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  .skel {
    background-color: $blue-green;
  }
  .round {
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.6);
  }
  .sort-arrow-down {
    display: none;
  }
  &:nth-child(1) {
    .activated {
      .round {
        .sort-arrow-up {
          display: none;
        }
        .sort-arrow-down {
          display: inherit;
        }
      }
    }
  }
}

.custom-base {
  position: relative;
}

.round {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d2d1d1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skel {
  background-color: #8e8e8e;
  height: 2rem;
  width: 4.5rem;
  border-radius: 2rem;
}

.activated {
  .round {
    left: 2.5rem;
    transition: 1s;
  }
}
