@import "./../../cssVariable/variable.scss";

.check-out-form {
  > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    > button {
      height: 5rem;
      color: white;
      background-color: $green;
      &:hover:not(:disabled) {
        cursor: pointer;
      }
      &:disabled {
        background-color: $light-grey;
        border: none;
      }
    }
  }
  .check-out-form-error-message {
    color: red;
    text-align: center;
  }
}

.check-out-form-succeed {
  font-family: "Bw Modelica Bold", sans-serif;
  text-align: center;
}
