// IMPORT
@import "./assets//fonts//font.css";
@import "./cssVariable//variable.scss";

// GENERAL

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bw Modelica Regular";
  font-size: 1.6rem;
}

button {
  background-color: transparent;
  border: 1px solid $blue-green;
  border-radius: 5px;
  font-family: "Bw Modelica Regular";
  background-color: $blue-green;
  font-size: 1.6rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.search {
  padding: 0 0.5rem;
  width: 35%;
  background-color: $beige;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }
}
